{% extends "base.html" %}

{% block content %}

    <form action="" method="post" novalidate>
        <div class="login-page">
        <div class="form">
        <form class="register-form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    Поле не заполнено
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    Поле не заполнено
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}
            {{form.reg()}}</p>
                </form>
  </div>
</div>
        </form>
{% endblock %}